.modalOverlay {
	position: fixed;
	top: 150px;
	left: 496px;
	width: 541px;
	height: 752px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	z-index: 1200;
	border-radius: 24px;
}

.modalThumb {
	max-width: calc(100vw - 48px);
	max-height: calc(100vh - 24px);
}
