.catalogList {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 50px;
	column-gap: 29px;
	margin: 0;
	margin-bottom: 40px;
	padding: 20px 0 0 0;
	list-style: none;
}
